[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
python-dotenv = "*"
pandas = "*"
openpyxl = "*"

[dev-packages]
pre-commit = "*"
black = "*"
ipython = "*"

[requires]
python_version = "3.9"
